In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json
from read_json import read_json  # for json files

In [2]:
# crop data
import dask.dataframe as dd
data = dd.read_csv("data.csv")
data_1000 = data.head(1000)
data_1000.to_csv("data_head_1000.csv")

In [5]:
data_pandas = pd.DataFrame(data, columns = data.columns)

In [4]:
data_pandas

,0,1,2,3,4
0,2023-03-13T07:04:31.079Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.8109}, ..."
1,2023-03-13T07:13:31.085Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.7359}, ..."
2,2023-03-13T08:16:41.112Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.8563}, ..."
3,2023-03-13T07:57:51.111Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.9766}, ..."
4,2023-03-13T10:28:11.191Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.8890000..."
...,...,...,...,...,...
7987576,2023-03-08T06:24:29.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 0}, 'in': {'byte..."
7987577,2023-03-08T06:24:29.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},NaN
7987578,2023-03-08T06:24:29.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 458243923}, 'in'..."
7987579,2023-03-08T06:27:49.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 0}, 'in': {'byte..."
7987580,2023-03-08T06:23:19.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 457983373}, 'in'..."

In [96]:
df = pd.DataFrame(data, columns = data.columns)

In [93]:
df

,0,1,2,3,4
0,2023-03-13T07:04:31.079Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.8109}, ..."
1,2023-03-13T07:13:31.085Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.7359}, ..."
2,2023-03-13T08:16:41.112Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.8563}, ..."
3,2023-03-13T07:57:51.111Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.9766}, ..."
4,2023-03-13T10:28:11.191Z,1,{'dataset': 'system.cpu'},{'name': 'QASERVER'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.8890000..."
...,...,...,...,...,...
7987576,2023-03-08T06:24:29.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 0}, 'in': {'byte..."
7987577,2023-03-08T06:24:29.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},NaN
7987578,2023-03-08T06:24:29.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 458243923}, 'in'..."
7987579,2023-03-08T06:27:49.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 0}, 'in': {'byte..."
7987580,2023-03-08T06:23:19.991Z,1,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 457983373}, 'in'..."

In [ ]:
data.where(data[""])

In [75]:
data = pd.read_csv("data.csv")
data.loc[]

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [47]:
data = pd.read_csv("data_head_100.csv")
system = data.system[2]
read_json(system)

{'cpu': {'cores': 4,
  'idle': {'pct': 3.8563},
  'user': {'pct': 0.0844},
  'system': {'pct': 0.059300000000000005}}}