# Time resample

In [151]:
import pandas as pd
from read_json import as_json, format_time
import numpy as np
import matplotlib.pyplot as plt

In [98]:
data = pd.read_csv("data_sample.csv")
data["@timestamp"] = pd.to_datetime(data["@timestamp"].map(format_time))  # convert to pandas datetime
id_nan =data.system.isna()
data_no_nan = data.loc[~id_nan]

In [183]:
hostnames = data["host"].unique()            # get unique names
hostnames = list(map(as_json, hostnames))
hostnames

[{'name': 'DEVELOP'},
 {'name': 'QASERVER'},
 {'name': 'PRODUCCION'},
 {'name': 'PREPRODUCCION'},
 {'name': 'PRUEBAS'}]

In [221]:
cpu_df = pd.read_csv("cpu_df.csv",index_col=0)
mem_df = pd.read_csv("memory_df.csv", index_col=0)
net_df = pd.read_csv("network_df.csv", index_col=0)

frames = [cpu_df, mem_df, net_df]
df = pd.concat(frames)  # si jala
df.sort_index(inplace=True)
#df["@timestamp"] = data_no_nan["@timestamp"]
df.insert(0, "@timestamp", data_no_nan["@timestamp"])
df_time = df

## DEVELOP
df_develop = df_time.loc[df_time["host"] == "DEVELOP"].drop("host", axis=1)
df_develop_resampled = df_develop.resample('10Min', on="@timestamp").mean()
df_develop_resampled["cores"] = 4
df_develop_resampled.to_csv("resampled/develop_resampled.csv")

## QASERVER
# do it by host -->  then relate by host
df_qaserver = df_time.loc[df_time["host"] == "QASERVER"].drop("host", axis=1)
# df_time["@timestamp"].resample("5Min")
df_qaserver_resampled = df_qaserver.resample('10Min', on="@timestamp").mean()
df_qaserver_resampled["cores"] = 4  # the server has the same number of cores
df_qaserver_resampled.to_csv("resampled/qaserver_resampled.csv")


## PRODUCCION
df_produccion = df_time.loc[df_time["host"] == "PRODUCCION"].drop("host", axis=1)
df_produccion_resampled = df_produccion.resample('10Min', on="@timestamp").mean()
df_produccion_resampled["cores"] = 8
df_produccion_resampled.to_csv("resampled/produccion_resampled.csv")
df_produccion_resampled

## PREPRODUCCION
df_preproduccion = df_time.loc[df_time["host"] == "PREPRODUCCION"].drop("host", axis=1)
df_preproduccion_resampled = df_preproduccion.resample('10Min', on="@timestamp").mean()
df_preproduccion_resampled["cores"] = 4
df_preproduccion_resampled.to_csv("resampled/preproduccion_resampled.csv")
df_preproduccion_resampled

## PRUEBAS
df_pruebas = df_time.loc[df_time["host"] == "PRUEBAS"].drop("host", axis=1)
df_pruebas_resampled = df_pruebas.resample('10Min', on="@timestamp").mean()
df_pruebas_resampled["cores"] = 16
df_pruebas_resampled.to_csv("resampled/pruebas_resampled.csv")
df_pruebas_resampled

,cores,user_pct,idle_pct,system_pct,actual_used_bytes,actual_used_pct,swap_free,swap_total,free,swap,bytes_total,bytes_total_norm,swap_norm,out_bytes,out_bytes_norm,in_bytes,in_bytes_norm
@timestamp,,,,,,,,,,,,,,,,,
2023-03-01 00:00:00,16,0.001250,0.997437,0.001250,6.236369e+09,0.09265,3.435554e+10,3.435554e+10,5.206712e+10,0.0,5.830349e+10,0.888029,0.0,4.991093e+09,6.160219e-03,1.474654e+09,1.041732e-02
2023-03-01 00:10:00,16,NaN,NaN,NaN,6.248182e+09,0.09280,3.435554e+10,3.435554e+10,5.205445e+10,0.0,5.830263e+10,0.888016,0.0,7.487754e+09,9.241705e-03,2.212379e+09,1.562880e-02
2023-03-01 00:20:00,16,0.001250,0.997437,0.001187,6.231407e+09,0.09255,3.435554e+10,3.435554e+10,5.206939e+10,0.0,5.830080e+10,0.887988,0.0,7.578000e+03,9.353090e-09,7.578000e+03,5.353287e-08
2023-03-01 00:30:00,16,NaN,NaN,NaN,6.226919e+09,0.09250,3.435554e+10,3.435554e+10,5.207323e+10,0.0,5.830015e+10,0.887978,0.0,1.872463e+09,2.311073e-03,5.532830e+08,3.908528e-03
2023-03-01 00:40:00,16,NaN,NaN,NaN,6.243340e+09,0.09270,3.435554e+10,3.435554e+10,5.205644e+10,0.0,5.829978e+10,0.887972,0.0,5.992517e+09,7.396219e-03,1.770727e+09,1.250885e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-31 23:20:00,16,NaN,NaN,NaN,3.181978e+09,0.04730,3.435554e+10,3.435554e+10,5.800984e+10,0.0,6.119182e+10,0.932021,0.0,3.569738e+08,4.405922e-04,1.373949e+08,9.705919e-04
2023-03-31 23:30:00,16,0.007069,0.991306,0.001563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.234451e+08,2.757854e-04,8.599246e+07,6.074720e-04
2023-03-31 23:40:00,16,NaN,NaN,NaN,3.205231e+09,0.04760,3.435554e+10,3.435554e+10,5.798464e+10,0.0,6.118987e+10,0.931992,0.0,2.990513e+08,3.691019e-04,1.150512e+08,8.127501e-04
2023-03-31 23:50:00,16,0.000937,0.998000,0.001063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.373175e+08,4.163316e-04,1.297425e+08,9.165329e-04
2023-04-01 00:00:00,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00