In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
from read_json import read_json
from matplotlib import cm

In [42]:
df = pd.read_csv('data_sample.csv')
df = df.drop('@version',axis=1)
df.to_csv("data_sample_noV.csv",index=False)

In [43]:
new_df = pd.read_csv('data_sample_noV.csv')
new_df

,@timestamp,event,host,system
0,2023-03-15T09:28:35.217Z,{'dataset': 'system.network'},{'name': 'DEVELOP'},"{'network': {'out': {'bytes': 0}, 'in': {'byte..."
1,2023-03-16T03:18:43.551Z,{'dataset': 'system.network'},{'name': 'QASERVER'},"{'network': {'out': {'bytes': 0}, 'in': {'byte..."
2,2023-03-01T08:09:17.822Z,{'dataset': 'system.cpu'},{'name': 'PRODUCCION'},"{'cpu': {'cores': 8, 'idle': {'pct': 7.7302}, ..."
3,2023-03-27T20:31:45.971Z,{'dataset': 'system.cpu'},{'name': 'DEVELOP'},"{'cpu': {'cores': 4, 'idle': {'pct': 3.9579}, ..."
4,2023-03-27T17:06:04.885Z,{'dataset': 'system.network'},{'name': 'PRODUCCION'},"{'network': {'out': {'bytes': 0}, 'in': {'byte..."
...,...,...,...,...
99995,2023-03-06T23:11:53.909Z,{'dataset': 'system.network'},{'name': 'PREPRODUCCION'},NaN
99996,2023-03-30T13:33:20.864Z,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 460628880}, 'in'..."
99997,2023-03-21T08:34:38.317Z,{'dataset': 'system.network'},{'name': 'PREPRODUCCION'},NaN
99998,2023-03-17T09:16:31.559Z,{'dataset': 'system.network'},{'name': 'PREPRODUCCION'},"{'network': {'out': {'bytes': 1656638238}, 'in..."
99999,2023-03-29T19:41:10.864Z,{'dataset': 'system.network'},{'name': 'PRUEBAS'},"{'network': {'out': {'bytes': 265040031}, 'in'..."

In [32]:
hosts = df.host.map(read_json)[1].get("name")
print(hosts)

QASERVER